@media screen and (max-width: 675px) {
  .plants__container-content {
    padding: 0 25px;
  }
  // .header__nav {
  //   display: none;
  // }
  .header__list {
    column-gap: 20px;
  }

  .welcome__wrapper {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .leafs {
    display: none;
  }
  .welcome__information {
    max-width: 100%;
  }
  .welcome__title {
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .welcome__description {
      padding-bottom: 25px;
  }
  .welcome__more {
    box-sizing: border-box;
    padding: 5px 16px;
    border: 2px solid #E06733;
    background: #EDF2EC;
    border-radius: 10px;
  }
  .more {
    font-size: 10px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
  }

  .about__wrapper {
    padding: 30px 0 31px 0;
  }
  .about__title {
    font-size: 25px;
    line-height: 33px;
    padding-bottom: 18px;
  }
  .about__description  {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .service__wrapper {
    padding-bottom: 27px;
  }
  .service__wrapper-head {
    padding-top: 30px;
  }
  .service__title {
    margin: 0;
    margin-bottom: 39px;
    max-width: 187px;
    font-size: 25px;
    line-height: 33px;
  }
  .service__wrapper-links {
    column-gap: 10px;
    row-gap: 10px;
  }
  .service__button {
    padding: 7px 28px;
    width: 121px;
    font-size: 15px;
    line-height: 20px;
  }

  .service__wrapper-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0px;
    row-gap: 34px;
    margin: 0 25px;
  }
  .service__card {
    grid-column: span 4;
  }
  .card__title {
    margin: 10px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    font-style: normal;
  }
  .card-description {
    margin-bottom: 18px;
  }

  .prices__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .prices__title-left {
    padding-left: 0px;
    margin-bottom: 38px;
    font-size: 25px;
    line-height: 30px;
  }
  .prices__wrapper-accordion {
    max-width: 224px;
    max-height: 235px;
    padding: 29px 22px;
  }
  .accordion {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 13px;
    padding: 15px 40px 15px 30px;
    font-size: 15px;
  }
  .prices__wrapper-right {
    align-items: center;
    margin-top: 20px;
  }
   .prices__title-right {
    margin: 0;
    margin-bottom: 14px;
    max-width: 230px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
  .prices__button {
    padding: 8px 22px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
  }
  .leafs-small {
    display: none;
  }

  .contacts__wrapper {
    padding-top: 25px;
  }
  .contacts__title {
    margin: 0;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 80px;
    font-size: 25px;
    line-height: 33px;
  }
  .contacts__accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 132px;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
  }
  .woman {
    order: 3;
    width: 100px;
    height: 124px;
    margin-right: 0;
    margin-left: 0px;
  }

  .footer__wrapper {
    flex-direction: column;
    padding: 10px 0 7px 0;
  }
  .rolling {
    margin-bottom: 0;
  }
}